// ============================
// BREAKPOINTS
// ============================
$bp-mobile:     480px;
$bp-tablet:     768px;
$bp-desktop:    1024px;
$bp-desktop-xl: 1440px;

// ============================
// COLORES
// ============================
$color-primary:   #007bff;
$color-secondary: #6c757d;
$color-terciary:  orange;
$color-cuartary:  black;

// ============================
// FUENTES
// ============================





// ============================
// TAMAÑO-FUENTES
// ============================
